@model BookingDetails

<h2>Planea una vacación</h2>

<form asp-controller="Vacation" asp-action="Plan" method="post">
    <div class="form-group">
        <label for="destination">Destino:</label>
        <input class="form-control" name="destination" />
    </div>
    <div class="form-group">
        <label for="accommodationLocation">Ubicación de accomodación:</label>
        <input class="form-control" name="accommodationLocation" />
    </div>
    <div class="form-group">
        <label for="duration">Duración (en días):</label>
        <input class="form-control" name="duration" type="number" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Plan de vacaciones</button>
</form>
